#playerPhoto {
  height: 15em;
  width: 15em;
}

.player {
  padding: 1em;
}

#playerCard {
  background-image: url(https://thumbs.dreamstime.com/t/vector-ice-hockey-rink-textures-blue-ice-ice-rink-vector-illustration-background-97252407.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}